@charset "utf-8";
@import  "mixin.less";

html{
  
  // background: linear-gradient(to bottom, #00EE00, #00A000 50%, #00EE00 100%);
  .gradient(#00EE00, #00A000)}
body{
  margin: 0;
}
h1{
  .font(18px);
  text-align: left;
}
h2{
  .font(12px);
  text-align: left;
}
h3{
  .font(18px);
  text-align: left;
  padding-top: 10px;
}
header{
  padding-left: 30px;
}
section{
  padding-left: 30px;
}
div { 
  margin-left: auto;
    margin-right: auto;
    text-align: center;
  background-color: white;
}
form {

}
div.main {
  margin: 50px auto;
  .size(50%, 100%);
  background-color: white;
  padding: 30px;
  text-align: left;
}
label{
  display: block;
  font-size: 14pt;  
  padding-bottom: 5px;
}
label[data-required="true"]:after {
  content:'*'; 
  color:red;
  }
span.description{
  display: block;
  .font(12px);
  padding-bottom: 5px;
}
input[text]{
  width: 50%;
}
p{
  
}

